<ion-view view-title="Mattia Gobbo">
	<ion-content class="padding">
	    <div class="list card">
	    	<div class="item item-divider">Nome e Cognome</div>
	      	<div class="item item-body">
	        	<div>
	          		Mattia Gobbo
	        	</div>
	      	</div>
	    </div>
	    <div class="list card">
	    	<div class="item item-divider">Nato il</div>
	      	<div class="item item-body">
	        	<div>
	          		04/10/1991
	        	</div>
	      	</div>
	    </div>
	    <div class="list card">
	    	<div class="item item-divider">Nato a</div>
	      	<div class="item item-body">
	        	<div>
	          		Pordenone
	        	</div>
	      	</div>
	    </div>
	    <div class="list card">
	    	<div class="item item-divider">Residente a</div>
	      	<div class="item item-body">
	        	<div>
	          		Via Tremeaque, 6 - Ghirano di Prata - ITALY
	        	</div>
	      	</div>
	    </div>
	    <div class="list card">
	    	<div class="item item-divider">Laurea in</div>
	      	<div class="item item-body">
	        	<div>
	          		Industrial Design - ISIA Roma
	        	</div>
	      	</div>
	    </div>
	    <div class="list card">
	    	<div class="item item-divider">Hobby</div>
	      	<div class="item item-body">
	        	<div>
	          		Giardinaggio e Musica Elettronica
	        	</div>
	      	</div>
	    </div>
  	</ion-content>
</ion-view>